<!-- templates/base.html -->
<html>
<head>
<title>Personal Data</title>
</head>
<body>
<header>
<h1><a href="{% url 'home' %}">Home</a></h1>
</header>

<div>
{% block content %}
{% endblock content %}
</div>
</body>
</html>
