{% extends 'base.html' %}
{% block content %}
<h1>Entry Form</h1>

<form action="" method="POST" >{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit"/>
   </form>

    {% endblock content %}

    
