{% extends 'base.html' %}
{% block content %}
<h2><a href="{%url 'entry' %}">New Blog Post</a></h2>
{% for post in object_list %}
<div class="post-entry">
<h2><a href="">Name: {{ post.name }}</a></h2>
<h2><a href="">Age: {{ post.age }}</a></h2>
<h2><a href="">Salary: {{ post.salary }}</a></h2>

</div>
{% endfor %}
{% endblock content %}
